<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.gaurav.com.medibase">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"/>
        <activity android:name=".DiseaseMedEntry"/>
        <activity android:name=".MedicineEntry"/>
        <activity android:name=".MedicineSearch"/>
        <activity android:name=".DiseaseMedSearch"/>
        <activity android:name=".Symptom_Adder"/>
        <activity android:name=".SymptomSearch"/>
        <activity android:name=".DiseaseSymptom"/>
        <activity android:name=".Login"/>
        <activity android:name=".UserView"/>

        <activity android:name=".DeleteMedicine"/>
        <activity android:name=".UpdateDiscription"/>
        <activity android:name=".DeleteDisease"/>

    </application>

</manifest>